
/********************************** Name tags list *********************************/
body {
  font-family: 'Montserrat', sans-serif;
  text-align:center;
}

h1, h2, h3, h4, h5, h6 {
    font-weight:bold;
}

p {
  color: #8f8f8f;
}


/* Headings  */

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Heading for sections */

.section-heading {
  font-size:3rem;
  line-height:1.5;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #FF4C68;
  color: #fff;
}
.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding-bottom: 4.5rem;
}

/* Navbat brand */
.navbar-brand {
  font-family: Ubuntu;
  font-size: 2rem;
  font-weight: bold;
}

/* Push navbar links */

.ml-auto {
  margin-left: auto;
}

/* Navbar items */

.nav-item {
  padding: 0 15px;
}

/* Navbar links */

.nav-link {
  font-family: "montserrat";
  font-weight: 300;
}

/* Download buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/************************************ Title section ************************************/


#title .container-fluid {
  padding:3% 13% 7%;
  text-align:left;
}

/* Title image */
.title-image {
  width: 22%;
  transform: rotate(25deg);
  position: absolute;
  right: 22%;
  
}

/********************************** Features section ***********************************/
#features {
  position: relative;
  z-index: 1;
}

/* Features  */
.feature {
  padding: 5%;
}

/* Icons in feature section */
.features-icon {
  color: #EF8172;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.features-icon:hover {
  color: #ff4c68;
}

.feature-title {
  font-size:1.5rem;
}



/********************************* Testimonials section ********************************/
#testimonials {
  background-color: #EF8172;
}

.testimonial-text {
  font-size:3rem;
  line-height:1.5;
}

.testimonial-image {
  width: 80px;
  border-radius:100%;
  margin: 20px;
}

/************************************ press section ************************************/

#press {
  background-color: #EF8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/*********************************** pricing section ***********************************/

#pricing {
  padding: 100px;
}

.card-title {
  font-size:1.5rem;
}

.price-text {
  font-size:3rem;
  line-height:1.5;
}

.pricing-column {
  padding: 3% 2%;
}


/******************************** call to action section *******************************/


.cta-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;
  padding-bottom: 40px;
}

/************************************ footer section ************************************/


.social-icon {
  padding: 20px 10px;
}

/***************************** media---> for responsiveness *****************************/

@media (max-width:992px) {
  .title-image {
    position: static;
    width: 60%;
    transform: rotate(0);
  }
  #title .container-fluid {
    text-align: center;
  }
  .testimonial-text {
    font-size:2.5rem;
  }
  
}
